body {
	margin: 0;
	background: #FF851B;
	font-family: sans-serif;
	transition: .6s;
	background-image: url("../img/background.jpg");
}
.btn-group{
	clear: both;
	margin-top: 20px;
}

#option1, #option2, #groep4, #groep8{
	display: none;
}

#winScreen {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	transition: background .4s;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#winScreen p {
	color: white;
	font-size: 60px;
	transform: translateY(-70vh);
	user-select: none;
	text-shadow: 2px 2px 0 black;
	animation: textDrop 2s;
}


#intro, #game, #veld, #singlePlayerVeld {
	width: 80%;
	text-align: center;
	margin: 10px auto 0 auto;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
  color: white;
	background: #aa8f00;
	background-image: url("../img/zenbg-3.png"), url("../img/zenbg-4.png");
	background-repeat: repeat-y, repeat;
}

#speler1 {
	width: 10%;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 50px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	color: white;
	background: #ffffff;
	background-repeat: repeat-x, repeat;
	min-height: 175px;
	float:right;
	cursor:pointer;
	border-radius: 5px;
	transition: 0.3s;

}

#speler3 {
	width: 10%;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 50px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	color: white;
	background: #ffffff;
	background-repeat: repeat-x, repeat;
	min-height: 175px;
	float:left;
	cursor:pointer;
	border-radius: 5px;
	transition: 0.3s;

}


#speler1:hover {opacity: 0.7;}

#speler3:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.imageContainer {
    margin: auto;
    display: inline-block;
    max-width: 200px;
		height:173px;
		float:right;
		margin-right: 50px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 80px;
}

#images {
    margin-right: 500px;
		transform: scale(1.0);
		cursor:pointer;
}

#yourBtn {
    margin-left: 300px;
    margin-top: 250px;
}

.close {
	position: absolute;
	top: 50px;
	right: 60px;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  float: right;
  font-size: $close-font-size;
  font-weight: $close-font-weight;
  line-height: 1;
  color: red;
  text-shadow: $close-text-shadow;
  opacity: .5;
  }

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#chat1 {
	min-height: 75px;
	float: left;
	padding-top: 23px;
	color: #b20a23;
  margin-top: 45px;
  margin-left: 20px;
	opacity: 0.7;
	background-color: #57aa52;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	width: 25%;

}

#chat2 {
	min-height: 75px;
	float: right;
	padding-top: 23px;
	color: #b20a23;
  margin-top: 45px;
  margin-left: 20px;
	margin-right: 40px;
	opacity: 0.7;
	background-color: #57aa52;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	width: 25%;


}

#chat3 {
	min-height: 75px;
	float: left;
	padding-top: 23px;
	color: #b20a23;
	margin-top: 80px;
	margin-bottom: 0px;
  margin-left: 20px;
	margin-right: 40px;
	opacity: 0.7;
	background-color: #57aa52;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	width: 25%;
}

#highscore{
	min-height: 150px;
	float: left;
	padding-top: 0px;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 40px;
	opacity: 0.7;
	background-color: #b33131;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	width: 25%;
}

#highscore p{
	margin-bottom: 5px;
}

#result1 {
	min-height: 75px;
	float: left;
  margin-top: 20px;
  margin-left: 20px;
	opacity: 0.7;
	background-color: #5752aa;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	width: 15%

}

#result1 p{
    padding-top: 20px;
}

#result2 p{
    padding-top: 20px;
}

#result2 {
	min-height: 75px;
	float: right;
  margin-top: 20px;
	margin-right: 40px;
  margin-left: 20px;
	opacity: 0.7;
	background-color: #5752aa;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	width: 15%

}

#result3 {
	min-height: 75px;
	float: left;
  margin-top: 80px;
	margin-left: 50px;
	margin-right: 40px;
	opacity: 0.7;
	background-color: #5752aa;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	width: 15%

}

#speler2 {
	width: 10%;
	text-align: center;
	margin-left: 30px;
	margin-top: 20px;
	margin-right: 50px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	color: white;
	background: #ffffff;
	background-repeat: repeat-x, repeat;
	min-height: 175px;
	float:left;
	cursor:pointer;
	border-radius: 5px;
	transition: 0.3s;
	display: none;

}

#speler2:hover {opacity: 0.7;}

#startSpel{
	width: 40%;
	text-align: center;
	margin: 10px auto 0 auto;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
  color: white;
	background: #aa8f00;
	background-image: url("../img/zenbg-1.png"), url("../img/zenbg-2.png");
	background-repeat: repeat-y, repeat;

	min-height: 500px;
  margin-top: 200px;
}

#spelStart {
	margin-top: 50px;
}

#usr1 {
	width: 50%;
	margin:auto;
}

#form-group1 {
    margin-top: 20px;
}

#form-group2 {
    margin-top: 20px;
}

#usr2 {
	width: 50%;
	margin:auto;
}

#box {
  margin-top: 40px;
}

#groep4:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
#groep4:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

#groep8:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
#groep8:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
#groep4 {
    margin-top: 40px;
    margin-right: 200px;
		background-position: center;
	  transition: background 0.8s;

}

#groep8 {
    margin-top: 40px;
		background-position: center;
		transition: background 0.8s;

}

#intro span, #box span {
	color: #d1c6c8;
	text-shadow:
		1px 1px black,
		1px -1px black,
		-1px 1px black,
		-1px -1px black;
}

#game {
	min-height: 550px;

}

#veld, #singlePlayerVeld {
	min-height: 250px;
}

.card {
	width: 7%;
	text-align: center;
  margin-left: 10px;
  margin-top: 60px;
	margin-right: 50px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	color: white;
	background: ##ffffff;
	background-image: url("../img/disneylogo.png");
	background-repeat: repeat-x, repeat;
	height: 105px;
	float:right;
	cursor: pointer;
}

.card:hover {
	background: #5b5c6c;
	background-image: url("../img/disneylogo.png");
	background-repeat: repeat-x, repeat;
  opacity: 0.6;
}

.card2 {
	width: 7%;
	text-align: center;
  margin-left: 10px;
  margin-top: 60px;
	margin-right: 50px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	color: white;
	background: ##ffffff;
	background-image: url("../img/roundabout.jpg");
	background-repeat: repeat-x, repeat;
	height: 105px;
	float:right;
	cursor: pointer;
}

.card2:hover {
	background: #5b5c6c;
	background-image: url("../img/roundabout.jpg");
	background-repeat: repeat-x, repeat;
	opacity: 0.6;
}

.cards {
	width: 7%;
	text-align: center;
  margin-left: 10px;
  margin-top: 60px;
	margin-right: 50px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	color: white;
	background: ##ffffff;
	background-image: url("../img/disneylogo.png");
	background-repeat: repeat-x, repeat;
	height: 105px;
	float:right;
	cursor: pointer;
}

.cards:hover {
	background: #5b5c6c;
	background-image: url("../img/disneylogo.png");
	background-repeat: repeat-x, repeat;
  opacity: 0.6;
}

.cards2 {
	width: 7%;
	text-align: center;
  margin-left: 10px;
  margin-top: 60px;
	margin-right: 50px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 1px black;
	color: white;
	background: ##ffffff;
	background-image: url("../img/roundabout.jpg");
	background-repeat: repeat-x, repeat;
	height: 105px;
	float:right;
	cursor: pointer;
}

.cards2:hover {
	background: #5b5c6c;
	background-image: url("../img/roundabout.jpg");
	background-repeat: repeat-x, repeat;
	opacity: 0.6;
}

#backAndTime p {
    margin-top: 50px;
}

#backAndTime button {
    margin-top: 20px;
		margin-left: 710px;
}

#backAndTime2 p {
    margin-top: 50px;
}

#backAndTime2 button {
    margin-top: 0px;
}

#backToStart {
  	margin-top: 50px;
}

#backToStart2 {
	margin-right: 665px;
	margin-top: 1px;
	float:right;
}


#settings {
	font-size: 22px;
	background: rgba(0, 0, 0, .2);
	width: 320px;
	margin: 20px auto;
	padding: 10px;
	border-radius: 20px;
  color: white;
}

#settings button {
  width: 81px;
  height: 36px;
	cursor: pointer;
}

#play-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tile {
	height: 110px;
	width: 110px;
	margin: 20px;
	border: 1px solid black;
	background: linear-gradient(rgba(255, 0, 0, .6), brown);
	cursor: pointer;
}

.tile p {
	font-size: 30px;
	margin: 0;
	padding: 35%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	filter: blur(20px);
	user-select: none;
}

.matched {
	border-radius: 50%;
	transition: 1s;
	background: white;
}

.matched p {
	filter: blur(0px);
}

#cardContainer{
	display: none;
}

#singlePlayer{
	display: none;
}

#startPagina{
	display: block;
}

@keyframes textDrop {
	0% {
		transform: translateY(-70vh);
	}
	10% {
		transform: translateY(-12vh);
	}
	80% {
		transform: translateY(8vh);
	}
	100% {
		transform: translateY(110vh);
	}
}
